body {
  background-color: #2C3333;
  font-family: 'Kanit', sans-serif;

}
ul{  
  padding:0;  
  background: #2C3333;  
  font-family:Arial, sans serif;  
  font-size:12px;  
  text-transform:uppercase;
}

li{  
  display:inline-block;
}

a{  
  display:block;  
  padding:10px;  
  color:#E7F6F2;  
  text-decoration:none;
}

a:hover {
  color: #A5C9CA;
}
.boxone {
  position: relative;
  top: 200px;
  left: 500px;
  text-align: center;
  display: inline-block;
  text-align: left;
  font-size: 30px;
}
.name {
color: #A5C9CA;
line-height: 1px;
font-size: 5rem;
}
.about {
color: #395B64;

}
.bio {
color: #395B64;
line-height: 32px;  
margin: 20px 0;
font-size: 1.5rem;
}
.TruViewPodcasts {
  color: #A5C9CA;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 150px;
  font-size: 3rem;
}
.podcast1 {
  text-align: center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 250px;
  flex: right;
}
#desc1 {
  color: #395B64;
  vertical-align: top;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;


}
.podcast2 {
  text-align: center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 250px;
  flex: right;

}
#desc2 {
  color: #395B64;
  vertical-align: top;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 50px;


}
.podcast3 {
  text-align: center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 250px;
  flex: right;

}
#desc3 {
  color: #395B64;
  vertical-align: top;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 50px;


}

/* CSS */
.button-59 {
  position: absolute;
  left: 0px;
  align-items: center;
  background-color: #2C3333;
  border: 2px solid #E7F6F2;
  box-sizing: border-box;
  color: #E7F6F2;
  cursor: pointer;
  display: inline-flex;
  fill: #E7F6F2;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #2C3333;
}

.button-59:hover {
  border-color: #395B64;
  color: #395B64;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
#character {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 200px;
  height: 200px;
}

.logo-holder {
  background: #2C3333;
  width: 180px;
  height: 220px;
  position: absolute;
  left: -15px;
  bottom: 0px;
  margin: 0 auto ;
  padding-top: 12px;
  padding-bottom: 24px;
  -webkit-transform: translateZ(0);
}

.bg {

position: absolute;
top: 9px;
left: 8px;
right: 8px;
bottom: 8px;
background: url(http://boutique.flarework.com/wp-content/themes/boutique/img/logo_large.png) center 0px no-repeat ;
  background-size: contain;
  -webkit-filter: drop-shadow(0px 6px 25px rgba(0,0,0,0.5));
}

.bar {
  position: relative;
  height: 8px;
  background: #6a6a6a;
  width:  0%;
  top: 0px;
  left: 18px;
  margin-top: 8px;
  box-shadow: 0 0 3px rgba(192,192,192,0.9);
  animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill1 {
animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
 animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill3 {
 animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill4 {
 animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
 animation:  fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
 animation:  fill-6 5s infinite alternate, colors 5s infinite alternate;
}



@keyframes fill {
0%   { width: 0; }
33%  { width: 30px;}
66%  { width: 10px;}
100% { width: 105px; }
}

@keyframes fill-1 {
0%   { width: 0; }
33%  { width: 50px;}
66%  { width: 20px;}
100% { width: 130px; }
}

@keyframes fill-2 {
0%   { width: 0; }
33%  { width: 90px;}
66%  { width: 70px;}
100% { width: 136px; }
}

@keyframes fill-3 {
0%   { width: 0; }
33%  { width: 50px;}
66%  { width: 24px;}
100% { width: 109px; }
}

@keyframes fill-4 {
0%   { width: 0; }
33%  { width: 98px;}
66%  { width: 34px;}
100% { width: 99px; }
}

@keyframes fill-5 {
0%   { width: 0; }
33%  { width: 30px;}
66%  { width: 10px;}
100% { width: 148px; }
}


@keyframes fill-6 {
0%   { width: 0; }
33%  { width: 48px;}
66%  { width: 22px;}
100% { width: 140px; }
}

@keyframes colors {
0% { background-color: #5a5a5a;}
50% { background-color: #E7F6F2;}
100% { background-color: #6a6a6a;}
}

.blog1 {
  color: #395B64;
  position: absolute;
  left: 400px;
  display: inline-block;
  text-align: left;
  font-size: 1.2rem;


}
#title1 {
  color: #E7F6F2;
  text-align: left;
}
.blog2 {
  color: #395B64;
  position: absolute;
  right: 255px;
  text-align: left;
  display: inline-block;
  text-align: left;
  font-size: 1.2rem;




}
#title2 {
  color: #E7F6F2;
  text-align: left;
}
.blog3 {
  color: #395B64;
  position: absolute;
  right: 150px;
  text-align: left;
  display: inline-block;
  text-align: center;


}
#title3 {
  color: #E7F6F2;
  text-align: center;
}

.about2 {
  position: relative;
  top: 200px;
  left: 500px;
  text-align: center;
  display: inline-block;
  text-align: left;
  font-size: 30px;
}
.TruViewPodcasts {
  color: #A5C9CA;
  line-height: 1px;
  font-size: 5rem;
  text-align: left;
}

.aboutTruView {
  color: #395B64;
  margin-top: -50px;
}

.aboutMe {
  color: #395B64;
  line-height: 35px;  
  margin: 20px 0;
  font-size: 1.5rem;
}

.TruViewTitle {
  color: #A5C9CA;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 150px;
  margin-top: 100px;
  font-size: 4rem;

}

.Contact {
  color: #A5C9CA;
  text-align: left;
  margin-top: 100px;
}
.about-desc {
  color: #395B64;
}